$orange: #FF8352 !important;
$pink: #FF8597 !important;
$salmon: #C17D75 !important;
$brown: #8D6E63 !important;
$green: #558B2F !important;
$grey: #EDE9D0 !important; 
$featured: #f4f1de !important;

:root {
    --orange: #{$orange};
    --pink: #{$pink};
    --salmon: #{$salmon};
    --brown: #{$brown};
    --green: #{$green};
    --grey: #{$grey};
    --featured: #{$featured};
  }